<!DOCTYPE html>
<html>
<head>
    <title>Create Help Request</title>

    <!-- connect this HTML file to the CSS file -->

    <link    
        rel="stylesheet" 
        href="{{ url_for('static', filename='css/requests.css') }}"
    >

</head>

<body>
                                     <!-- Page Title -->
    <h1>Create a Help Request</h1>

<!-- Form where the user enter his information for the help request -->
 <!-- the POST  send the submitted data to create_request route in requests.py -->

    <form method="POST" action="{{ url_for('requests.create_request') }}">

<!-- input for the request title -->

        <label for="title">Title:</label>
        <br>
       
        <input type="text" id="title" name="title">
        <br><br>
<!--  text area for the detailed description -->

        <label for="description">Description:</label>
        <br>
        <textarea id="description" name="description" rows="6"></textarea>
        <br><br>
<!-- dropdown menu for the category -->

        <label for="category">Category:</label>
        <br>
        <select id="category" name="category">

            <option value="">Select a category</option>
            <option value="Education">Education</option>
            <option value="Medical">Medical</option>
            <option value="Food">Food</option>
            <option value="Housing">Housing</option>
            <option value="Other">Other</option>

        </select>

        <br><br>
<!-- input for the amount of money needed -->

        <label for="amount_needed">Amount Needed:</label>
        <br>
        <input
            type="number"
            id="amount_needed"
            name="amount_needed"
            min="0"
            step="0.01"
        >

        <br><br>
<!-- submit button for submitting the data -->

        <button type="submit">Submit Request</button>

    </form>

</body>
</html>