<!DOCTYPE html>
<html>

<head>
    <title>Help Requests</title>

    <!-- Connect this HTML file to the CSS file -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/requests.css') }}"
    >
</head>

<body>

    <!-- Page title -->
    <h1>Help Requests</h1>
    <!-- Search form for finding help requests -->
    <form method="GET" action="{{ url_for('requests.list_requests') }}">

        <!-- Input where the user enters what they want to search for -->
        <input
        type="text"
        name="search"
        placeholder="Search help requests..."
        value="{{ search }}"
    >

    <!-- Button for submitting the search -->
    <button type="submit">Search</button>

</form>

<br>

    <!-- Short description of this page -->
    <p>Find people who need help.</p>

    <!-- Link to create a new help request -->
    <a href="{{ url_for('requests.create_request') }}">
    Create a Help Request
    </a>


    <hr>

    <!-- Display all requests from the database -->
    {% for request in requests %}

        <div>

            <!-- Request title -->
            <h2>{{ request["title"] }}</h2>

            <!-- Request description -->
            <p>
                {{ request["description"] }}
            </p>

            <!-- Request category -->
            <p>
                <strong>Category:</strong>
                {{ request["category"] }}
            </p>

            <!-- Amount needed -->
            <p>
                <strong>Amount Needed:</strong>
                {{ request["amount_needed"] }} EGP
            </p>

            <!-- Request status -->
            <p>
                <strong>Status:</strong>
                {{ request["status"] }}
            </p>

            <!-- Link to view the full details of this help request -->
            <a href="{{ url_for('requests.request_details', request_id=request['id']) }}">
                View Details
            </a>

            <hr>

        </div>

    {% else %}

        <!-- Message shown when there are no requests -->
        <p>No help requests have been created yet.</p>

    {% endfor %}

</body>

</html>