<!DOCTYPE html>
<html>
<head>
    <title>My Requests</title>
 <!-- Connect this HTML file to the CSS file -->

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/requests.css') }}"
    >

</head>

<body>

    <h1>My Help Requests</h1>

    <p>
        Here you can manage the help requests you created.
    </p>

    <hr>
<!-- example of 1 request belonging to the current user-->

    <div>

        <h2>Help with University Fees</h2>

        <p>
            Category: Education
        </p>

        <p>
            Amount Needed: 10,000 EGP
        </p>

        <p>
            Status: Pending
        </p>

        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>

    </div>

    <hr>

    <div>

        <h2>Medical Assistance</h2>

        <p>
            Category: Medical
        </p>

        <p>
            Amount Needed: 5,000 EGP
        </p>

        <p>
            Status: Approved
        </p>
<!-- button that shows the request-->
        <button>View</button>
        <!-- button that edits the request-->
        <button>Edit</button>
        <!-- button than deletes the request-->
        <button>Delete</button>

    </div>

</body>
</html>